td= name
td= type
td= priority
td= records[0].content
td= ttl
td= records[0].disabled ? 'disabled' : 'active'
td.records-value-action
    .btn-group
        -if (type === "A" || type === "AAAA")
            button.btn.btn-default.btn-xs.2ptr-record.disabled(id="2ptr-record", href="#", rel="tooltip", title="Create PTR record from this")
                span.glyphicon.glyphicon-retweet
        button.btn.btn-default.btn-xs.edit-record(data-action="edit", rel="tooltip", title="Edit record")
            span.glyphicon.glyphicon-pencil
        button.btn.btn-danger.btn-xs.del-record(data-action="delete", rel="tooltip", title="Delete record")
            span.glyphicon.glyphicon-trash
