td
    a(data-action="view" href='/servers/#{serverId}/zones/#{id}')= name
td= kind
td= masters
td
    -if (dnssec == true)
        span.fa.fa-lock.fa-lg
    -else
        span.fa.fa-unlock.fa-lg
            | &nbsp;
            = dnssec
td= serial
td
    .btn-group.actions
        -if (kind === "Slave")
            button.btn.btn-default.btn-xs.retrieve-zone(data-action="retrieve", rel="tooltip", title="Retrieves the zone from the master")
                span.glyphicon.glyphicon-random
        -if (kind === "Master")
            button.btn.btn-default.btn-xs.notify-zone(data-action="notify", rel="tooltip", title="Send a DNS NOTIFY to all slaves")
                span.glyphicon.glyphicon-retweet
        a.btn.btn.btn-default.btn-xs.export-zone(rel="tooltip", title="Returns the zone in AXFR format", href="/servers/#{serverId}/zones/#{id}.axfr")
            span.glyphicon.glyphicon-export
        button.btn.btn.btn-default.btn-xs.disabled.verify-zone(rel="tooltip", title="Verify zone contents/configuration", href="#")
            span.glyphicon.glyphicon-ok
        a.btn.btn.btn-default.btn-xs.view-domain(data-action="view" rel="tooltip", title="View records in zone", href="/servers/#{serverId}/zones/#{id}")
            span.glyphicon.glyphicon-eye-open
        button.btn.btn-default.btn-xs.edit-domain(data-action="edit", rel="tooltip", title="Edit domain")
            span.glyphicon.glyphicon-pencil
        button.btn.btn-danger.btn-xs.delete-domain(data-action="delete" rel="tooltip", title="Delete domain")
            span.glyphicon.glyphicon-trash
